<div class="about-container" id="about">
    <h1>Provided Services</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in.</h3>
    <div class="services-container">
        <div class="service-container">
            <img src="../../assets/img/placeholder.png" />
            <h2>Front-end Developer</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien velit, dapibus rhoncus velit id.</h4>
            <h3>Languages:</h3>
            <h4>HTML, CSS, Angular.io, Pug, Sass</h4>
            <h3>Tools:</h3>
            <h4>Figma</h4>
            <h4>Github</h4>
            <h4>Gitlab</h4>
            <h4>Bootstrap</h4>
            <h4>Flexbox</h4>
            <h4>Terminal</h4>
            <h4>Heroku</h4>
            <h4>VS Code</h4>
        </div>
        <div class="service-container" style="border-left: 2px solid #3B0918; border-right: 2px solid #3B0918;">
            <img src="../../assets/img/placeholder.png" />
            <h2>Back-end Developer</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien velit, dapibus rhoncus velit id.</h4>
            <h3>Languages:</h3>
            <h4>Nodejs, Python</h4>
            <h3>Tools:</h3>
            <h4>MySQL</h4>
            <h4>PostgreSQL</h4>
            <h4>MongoDb</h4>
            <h4>VS Code</h4>
            <h4>Postman</h4>
            <h4>XAMPP</h4>
            <h4>Terminal</h4>
            <h4>Github</h4>
            <h4>Gitlab</h4>
        </div>
        <div class="service-container">
            <img src="../../assets/img/placeholder.png" />
            <h2>Automation and Bots</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien velit, dapibus rhoncus velit id.</h4>
            <h3>Languages:</h3>
            <h4>Python, Javascript</h4>
            <h3>Dev Tools:</h3>
            <h4>Tampermonkey</h4>
            <h4>Discord.py</h4>
            <h4>Tweepy</h4>
        </div>
    </div>
</div>