<div class="contact-container">
    <h1>Contact Me</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in.</h3>
    <form style="display: flex; flex-flow: row wrap; justify-content: center; align-items: center;" action="https://formspree.io/f/mzbgkgnj" method="POST">
        <input style="width: 39vw; height: 7vh; margin: 1vw;" type="text" name="name" placeholder="Name">
        <input style="width: 39vw; height: 7vh; margin: 1vw;" type="email" name="_replyto" placeholder="Email">
        <input style="width: 80vw; height: 7vh; margin: 1vw;" type="text" name="title" placeholder="Title">
        <textarea style="width: 80vw; height: 7vh; margin: 1vw;" name="message" placeholder="Message"></textarea>
        <button style="width: 80vw; height: 7vh; margin: 1vw;" class="common-button" type="submit">Send</button>
    </form>
    <h3>Or follow me on social media</h3>
</div>