<div class="contact-container" id="contact">
    <h1>Contact Me</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in.</h3>
    <form style="display: flex; flex-flow: row wrap; justify-content: center; align-items: center;" action="https://formspree.io/f/mzbgkgnj" method="POST">
        <input style="width: 39vw; height: 7vh; margin: 1vw;" type="text" name="name" placeholder="Name">
        <input style="width: 39vw; height: 7vh; margin: 1vw;" type="email" name="_replyto" placeholder="Email">
        <input style="width: 80vw; height: 7vh; margin: 1vw;" type="text" name="title" placeholder="Title">
        <textarea style="width: 80vw; height: 7vh; margin: 1vw;" name="message" placeholder="Message"></textarea>
        <button style="width: 80vw; height: 7vh; margin: 1vw;" class="common-button" type="submit">Send</button>
    </form>
    <h3>Or follow me on social media</h3>
    <div class="social-group">
        <button class="socials"><a target="_blank" href="https://twitter.com/madreloidpx"><img src="../../assets/img/twitter.png" /></a></button>
        <button class="socials"><a target="_blank" href="https://www.linkedin.com/in/madreloidpx/"><img src="../../assets/img/linkedin.png" /></a></button>
        <button class="socials"><a target="_blank" href="http://github.com/madreloidpx"><img src="../../assets/img/github.png" /></a></button>
        <button class="socials"><a target="_blank" href="https://stackexchange.com/users/9261854/madreloidpx"><img src="../../assets/img/stackoverflow.png" /></a></button>
    </div>
</div>