.horizontal-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 3%;
    border: 3px solid #B8390E;
    background-color: #FFF3D9;
    width: 93%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
    width: 64%;
}

img.preview-thumbnail {
    object-fit: scale-down;
    margin: 2%;
    width: 25%;
}

h3.card-title {
    color: #3B0918;
}

p.card-contents {
    font-size: medium;
    color: #DC4731;
}