<div class="portfolio-container" id="portfolio">
    <h1>Featured Works</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in.</h3>
    <div class="carousel">
        <a (click)="previousPage()"><i class='fas fa-angle-left fa-3x'></i></a>
        <div class="article-list">
            <div class="article-container" *ngFor="let article of portfolioView">
                <app-vertical-card [title]="article.title" [description]="article.short_description" [details]="article.details" [thumbnail]="article.preview_image" [collection]="article.collection"></app-vertical-card>
            </div>
        </div>
        <a (click)="nextPage()"><i class='fas fa-angle-right fa-3x'></i></a>
    </div>
</div>