/* color palette:  #FFF3D9, #DC4731, #B8390E, #3B0918*/
button.common-button {
    background-color: #3B0918;
    color: #FFF3D9;
    padding: 5px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}

button.common-button > a {
    color: #FFF3D9;
    text-decoration: none;
}

button.common-button:hover {
    filter: brightness(115%);
}