.articles-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    background-color: #DC4731;
}

.article-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.article-container {
    width: 35vw;
    margin: 1%;
}