.articles-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    background-color: #DC4731;
}

.article-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.article-container {
    width: 45%;
}