.articles-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    background-color: #DC4731;
}

.article-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.article-container {
    width: 35vw;
    margin: 1%;
}

h1 {
    font-family: 'Quattrocento', serif;
    color: #3B0918;
    font-size: 5vh;
    padding-top: 10vh;
    margin-bottom: 0%;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #FFF3D9;
    font-size: 3vh;
}