/* color palette:  #FFF3D9, #DC4731, #B8390E, #3B0918*/

.header-menu {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: #DC4731;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    text-align: center;
    color: #FFF3D9;
    font-family: 'Oswald', sans-serif;
}

.menu-item:hover {
    background-color: #FFF3D9;
    color: #DC4731;
}