html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFEABF;
  color: #6667AB; /*color of the year! Very Peri*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
