.main {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.logo {
  min-height: 100vh;
  width: 50%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  min-height: 100vh;
  width: 50%;
  padding: 4% 8% 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.nav_list {
  border-left: double #867CBF 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.nav_item {
  display: flex;
  flex-direction: row;
}

.flower {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}